# System files
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
*.log

# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle
android/app/src/main/assets/
android/key.properties
android/local.properties
ios/.symlinks
ios/Pods/

# Go
# Binaries
*.exe
*.test
*.out
# Go workspace file
go.work
go.work.sum

# Build Artifacts
dist/
assets/bin/

# Temp
tmp/

# AI Context
gemini.md
golang_standards.md
flutter_standards.md
ARCHITECTURE.md
PROJECT_INTENT.md
